.DS_Store
.flaskenv
.vscode
.coverage.*
./test_scripts/playground.ipynb
.coverage
.venv/
.tox/
.cache/
.pytest_cache/
.idea/
/.ruff_cache/
/.mypy_cache/
/.dmypy.json
*.db

.env
telegram_messages.txt
*.session
*.log
